.services {
    align-items: center;
    justify-content: center;
    height: 1080px;
}

.services__content {
    width: 1199px;
    height: 763px;
    display: flex;
    margin: auto;

}

.section__title {
    width: 198px;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.69px;
    color: #868585;
    margin: 150px 0 55px 0;
}

.services__image {
    margin: 235px 0 0 90px;
    width: 600px;
    height: 670px;
    background-image: url("../../images/n6iSk6_5bnI.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.services__paragraph {

}

.services__text {
    width: 510px;
    height: 76px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: #303030;
    margin: 0 0 30px 0;
}

.services__text-title {
    width: 510px;
    height: 25px;
    line-height: 24.52px;
    font-size: 18px;
    font-weight: 700;
    color: #303030;
    margin: 0 0 10px 0;
}

.services__text-title_max_size {
    height: 50px;
}

