.header__subtitle {
    width: 589px;
    height: 57px;
    margin: 3px auto 0;
    padding: 0;
    line-height: 58px;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}