.services__image {
    margin: 235px 0 0 90px;
    width: 600px;
    height: 670px;
    background-image: url("../../../images/n6iSk6_5bnI.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}